* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
.row{
    margin-left: 10%;
    margin-right: 10%;
}
.sb{
    height: 50px;
    width: 225px;
    padding-right: 0;
}
.br{
    margin-top: 16px;
}
.br2{
    margin-top: 16px;
    margin-left: 300px;
}
.left{
    margin-left: 80px;
}
.right{
    margin-right: 100px;
}
.row2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
.br3{
    margin-top: 10px;
    margin-left: 110px;
     } 
.br4{
    padding-top: 10px;
    padding-right: 110px;
}
.alte, .altm, .altd {
    width: 183px;
    height: 130px; 
    border-radius: 5px;
    margin-top: 50px;
}

.alte {
    margin-left: 100px; 
}

.altm {
    margin-left: 40px; 
}

.altd {
    margin-left: -20px; 
}
.alt{
    margin-top: 50px;
}
